<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="mytestng.tests.MyFirstTestNgTest2"/> -->
      <class name="mytestng.tests.Test1"/>
      <class name="mytestng.tests.MyFirstTestNgTest"/>
      <class name="mytestng.tests.DependsOnTests"/>
      <class name="mytestng.tests.DifferentAnnotationsExamples"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
